body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #E9EAED;
    color: #000; 
    transition: background-color 0.3s, color 0.3s;
}

#main_container{
    padding: 20px;
    background-color: #E9EAED;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

footer {
    background-color: #111111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* SECTION*/
.section{
    background-color: #fff;
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;  
    border-top-right-radius: 0;  
    padding: 20px; 
    margin: 1%;
    transition: background-color 0.3s, color 0.3s;
    
}

/* SCROLL TO TOP*/
#scrollToTopBtn {
    display: none; /* Inizialmente nascosto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}

/* STORIA*/
.logo_storia{
    margin: 0 auto;
    text-align: center;
}

.logo_storia img {
    min-width: 120px;
    width: 150px;
    height: 150px;    
    max-width: 100%;
}


/* CHI SIAMO*/
.persone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; /* Ensures all .utente items stretch to the same height */
    text-align: center;
    gap: 20px;
}

.utente {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 48%; /* Adjust width for two columns */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    flex-grow: 1; /* Ensures all .utente elements grow equally */
}

.foto {
    margin-bottom: 15px;
}

.foto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; /* Circular image */
}

.descrizione {
    flex-grow: 1; /* Allow description to take up available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    text-align: center;
}

.descrizione h3 {
    margin: 10px 0 5px 0;
}

@media (max-width: 768px) {
    .persone {
        flex-direction: column;
        align-items: center;
    }

    .utente {
        width: 100%; /* Full width on smaller screens */
        margin-bottom: 20px;
    }
    .read-more {
        display: block;
    }
}


/* VIDEO SECTION */
#Video {
    margin-top: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    gap: 5px;
    justify-content: center;
}

.video-item {
    margin: 5px;
    padding: 20px;
    text-align: center;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.video-item:hover {
    background-color: #E9EAED;
    opacity: 0.9;
}

.video-iframe {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

.video_views{
    font-weight: bold;
}

@media (max-width: 1000px) {
    .video-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* COLLABORATIONS SECTION*/
.slider-container {
    display: flex;
    justify-content: center; 
    overflow: hidden;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 200px; 
}

.collab_image {
    max-width: 80%; 
    max-height: 100%; 
    display: block;
    margin: 0 auto; 
}

/* PROJECTS SECTION*/
.progetti {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.progetto {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.copertina {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
}

.descrizione-progetto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
    padding: 10px;
}

.descrizione-progetto h3 {
    margin: 0;
}

.copertina img {
    background-color: transparent;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

@media (max-width: 768px) {
    .progetto {
        flex-direction: column;
    }
    
    .copertina, .descrizione-progetto {
        flex-basis: 100%;
    }
}


/* CONTACTS */
.contacts{
    padding:20px;
}

/* SUPPORT */ 
.support-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.support-link {
    display: block;
}

.support-link .support-item {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%; 
    box-sizing: border-box; 
    min-width: 200px; 
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.support-link .support-item i {
    margin-right: 8px; /* Spazio tra l'icona e il testo */
}

.support-link .support-item:hover {
    background-color: #0056b3;
    color: #000;
}

.button-support {
    color: transparent; 
    background-color: transparent; 
    border: none; 
}

@media (max-width: 1200px) {
    .support-grid {
        grid-template-columns: repeat(1, 1fr); /* Una colonna per schermi piccoli */
    }
}

