.dark-mode {
    background-color: #111111; 
    color: #fff; 
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .section {
    background-color: #0c0c0c; 
    color: #fff; 
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode #main_container {
    background-color: #222; 
    color: #fff; 
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .video-item:hover {
    background-color: #222;
    color: #fff; 
    opacity: 0.9;
}

.dark-mode .form-control {
    color: white;
    background-color: #343a40;
    border-color: #343a40;
}

.dark-mode .form-control::placeholder {
    color: #6c757d; 
}

.dark-mode .form-control:focus::placeholder {
    color: #6c757d; 
}

.dark-mode .form-control:-moz-placeholder {
    color: #6c757d;
}


.dark-mode .form-control:-ms-input-placeholder {
    color: #6c757d;
}

.dark-mode .form-control::-webkit-input-placeholder {
    color: #6c757d; 
}

.dark-mode .form-control:focus {
    color: white;
    background-color: #343a40; 
    border-color: #343a40; 
}