header img {
    width: 100px;
    height: auto; 
    margin: 10px; 
}

header {
    background-color: #111111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.switch {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav a:hover {
    color: #4caf50; 
}

.header__container {
    display: flex;
    align-items: center; 
}

/* DARK MODE SWITCH */
.switch {
    float: left;
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f1c40f; 
    transition: background-color 0.4s;
}

.switch input {
    display: none;
}

.dark-mode .switch {
    background-color: #34495e; 
}

.switch__slider i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff; 
}

.icon-dark {
    display: none;
    z-index: 1;
}

:not(input:checked) + .switch__slider .icon-dark {
    display: none;
}

input:checked + .switch__slider .icon-light {
    display: none;
}

/* LANGUAGE SELECT */
select.form-control {
    margin-right:10px; 
    width: 50px; 
    max-width: 100px; 
  }

select.form-control {
background-color: #fff;
color: #495057;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select.form-control:hover {
border-color: #80bdff;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* SOCIALS */
.social__list {
    list-style: none;
    padding: 0;
    display: flex;
}

.social__list li {
    width: 30px;
    height: 30px;
}

.social__list i {
    color: #fff;
    font-size: 24px; 
}


/* SUPPORT */
.support__list {
    margin-left:auto;
    list-style: none;
    padding: 0;
    display: flex;
}

.support__list li {
    width: 30px;
    height: 30px;
}

.support__list i {
    color: white;
    font-size: 24px; 
}

/* SECTIONS*/
.sections {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.sections ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.sections li {
    margin-right: 10px;
}

.sections a {
    text-decoration: none;
}